@use '@sass/config/variables' as *;
@use '@sass/utils/document';

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

$listOfFontsSize: (
  'h1': $f-h1,
  'h2': $f-h2,
  'h3': $f-h3,
  'h4': $f-h4,
  'p': $f-p,
  'span': $f-span,
  'small': $f-small,
  'smaller': $f-smaller
);

@each $tag, $value in $listOfFontsSize {
  #{$tag} {
    font-size: $value;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  padding: $icon;
  img {
    width: $icon;
    height: $icon;
  }
}

.pIcon {
  width: $icon;
  height: $icon;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $padding;
  padding: $padding * 0.5 $padding;
  border-radius: $radius;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1.5px solid transparent;
  div {
    padding: 0;
  }
  &:hover {
    border-color: $colorGr;
  }
}

img,
svg {
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
