@use '@sass/config/variables' as *;
@use '@sass/utils/document';

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

$listOfFontsSize: (
  'h1': $f-h1,
  'h2': $f-h2,
  'h3': $f-h3,
  'h4': $f-h4,
  'p': $f-p,
  'span': $f-span,
  'small': $f-small,
  'smaller': $f-smaller
);

@each $tag, $value in $listOfFontsSize {
  #{$tag} {
    font-size: $value;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  padding: $icon;
  img {
    width: $icon;
    height: $icon;
  }
}

img,
svg {
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
