---
import Icon from '@/utils/Icon.astro'
import { KermitTheFrog } from '@icons/index'
import projects from '@data/projects.json'
---

<section class='projects section hash-nav' id='projects'>
  <article>
    <h2>
      Mis <b class='current-dgr'> proyectos Personales</b>
    </h2>
    <p>
      Estos proyectos reflejan de mi habilidades en la programaci贸n, quiz谩s
      algunos son creaciones familiares que abordo con pura pasi贸n. Cada l铆nea
      de c贸digo es un testimonio de mi compromiso y amor por el arte de crear.
      Algunos proyectos, nacidos en el crisol de la inspiraci贸n, son la
      culminaci贸n de mi fascinante traves铆a de aprendizaje. <b
        class='current-dgr'
      >
        este mosaico de logros y sue帽os! 
      </b> 隆Con orgullo, presento
    </p>
    <a href='/projects'>
      <h4>Ver mas</h4>
      <Icon file={KermitTheFrog} />
    </a>
  </article>
  <ul>
    {
      projects.map(project => {
        return <li>{project.title}</li>
      })
    }
  </ul>
</section>
