---
import './style.scss'
import './responsiveStyle.scss'
import Icon from '@/utils/Icon.astro'
import { KermitTheFrog } from '@icons/index'
import projects from '@data/projects.json'
import { Project } from '@components/index'

export type IProject = (typeof projects)[0]
---

<section class='projects section hash-nav' id='projects'>
  <article class='projects-title'>
    <div>
      <h2 class='sub-title'>
        Mis <b class='dg'> Proyectos Personales</b>
      </h2>
      <p>
        Estos proyectos reflejan de mi habilidades en la programaci칩n, quiz치s
        algunos son creaciones familiares que abordo con pura pasi칩n. Cada l칤nea
        de c칩digo es un testimonio de mi compromiso y amor por el arte de crear.
        Algunos proyectos, nacidos en el crisol de la inspiraci칩n, son la
        culminaci칩n de mi fascinante traves칤a de aprendizaje. <b class='dg'>
          este mosaico de logros y sue침os! 游
        </b> 춰Con orgullo, presento
      </p>
    </div>
    <a href='/projects' class='projects-readMore'>
      <h4>Ver m치s</h4>
      <Icon file={KermitTheFrog} />
    </a>
  </article>
  <ul class='projects-list'>
    {projects.map(project => <Project {...project} client:visible />)}
  </ul>
</section>
