@use '@sass/config/variables' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen() {
  .project {
    height: auto;
    flex-direction: column;
    width: 300px;
    &-background {
      width: 100%;
      height: 100px;
    }
    &-description {
      width: 100%;
      &::before {
        width: 100%;
        height: 20px;
        left: 0;
        top: -20px;
        background-image: linear-gradient(
          180deg,
          transparent,
          var(--bg-fondo-2) 60%
        );
      }
    }
  }
}
