@use '@sass/utils/media' as m;

@include m.largeScreen() {
  .skills {
    flex-direction: column;
    align-items: center;
    &-filters,
    &-technologies {
      width: 100%;
      height: auto;
      min-height: auto;
    }
    &-filters {
      p {
        text-align: center;
      }
      h3 {
        margin: auto;
      }
    }
  }
}
