@use '@sass/config/variables' as v;

@mixin gap-default-items($gap: v.$padding, $ali: normal, $dir: column) {
  display: flex;
  flex-direction: $dir;
  align-items: $ali;
  gap: $gap;
}

@mixin hover {
  transition: v.$ani;
  outline: 1.5px solid transparent;
  &:hover {
    outline-color: v.$colorGr;
  }
}

@mixin txtPoints {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
