@use '@sass/config/variables' as v;

@mixin gap-default-items($gap: v.$padding, $ali: normal, $dir: column) {
  display: flex;
  flex-direction: $dir;
  align-items: $ali;
  gap: $gap;
}

@mixin hover {
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: 1.5px solid transparent;
  &:hover {
    outline-color: v.$colorGr;
  }
}
