@use '../config/variables' as v;

%scroll-visible {
  &::-webkit-scrollbar-thumb {
    background: v.$bg-1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 70px;
  }
}

%scroll-hidden {
  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
