@use '@sass/config/variables' as v;
@use '@sass/utils/media' as m;
@include m.largeScreen() {
  .experience {
    &::after {
      width: 100%;
      border-radius: v.$radius;
    }
    &-histories {
      border: none;
      padding: 0;
      padding-top: v.$padding;
    }
  }
}

@include m.smallScreen() {
  .experience-description {
    p {
      text-align: center;
    }
    a {
      margin: auto;
    }
  }
}
