@use '@sass/config/variables' as v;
@use '@sass/utils/defaults' as defs;

.experience {
  min-height: 60vh;
  height: auto;
  position: relative;
  @include defs.gap-default-items($ali: center);
  &::after {
    content: '';
    top: 0;
    position: absolute;
    background-color: v.$bg-2;
    height: 100%;
    width: 100dvw;
    z-index: -1;
  }
  &-description {
    @include defs.gap-default-items;
    .btn {
      background-color: v.$bg-1;
    }
  }
  &-histories {
    @include defs.gap-default-items(v.$padding * 2);
    border-left: 2px solid v.$colorGr;
    border-radius: 20px;
    padding: v.$padding;
  }
}
