@use '@sass/utils/defaults' as defs;
@use '@sass/config/variables' as v;

.social {
  @include defs.gap-default-items($dir: row, $ali: center);
  width: 100%;
  flex-wrap: wrap;
  a {
    @include defs.gap-default-items($dir: row, $ali: center, $gap: 5px);
    @include defs.hover;
    max-width: 150px;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    justify-content: center;
    background-color: v.$bg-2;
  }
}
