---
import themes from '@data/themes.json'
import Icon from '@/utils/Icon.astro'
import { PaintPalette } from '@icons/index'
import './style.scss'
---

<div class='themes'>
  <button title='Escoger tema' id='themes-selector'>
    <Icon file={PaintPalette} />
  </button>
  <ul class='themes-items' id='themes-items'>
    {
      themes.map(({ title, colors }) => (
        <li
          class='themes__item'
          title={title}
          style={`--theme-color: linear-gradient(to right, ${colors['bg-fondo-1']}, ${colors['bg-normal']})`}
        >
          <button id='theme-item' />
        </li>
      ))
    }
  </ul>
</div>
<script src='./themes.ts'></script>
