---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Porfolio: Luis Fernando'>
  <header class='section'><h2>header</h2></header>
  <section class='experience section'><h2>experience</h2></section>
  <section class='projects section'><h2>projects</h2></section>
  <section class='about section'><h2>about</h2></section>
  <section class='skills section'><h2>skills</h2></section>
  <section class='contact section'><h2>contact</h2></section>
  <footer><h2>footer</h2></footer>
</Layout>
