---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '@components/header/Header.astro'
---

<Layout title='Porfolio: Luis Fernando'>
  <Header />
  <section class='experience section hash-nav' id='experiences'>
    <h2>experience</h2>
  </section>
  <section class='projects section hash-nav' id='projects'>
    <h2>projects</h2>
  </section>
  <section class='about section hash-nav' id='about'><h2>about</h2></section>
  <section class='skills section'><h2>skills</h2></section>
  <section class='contact section hash-nav' id='contact'>
    <h2>contact</h2>
  </section>
  <footer><h2>footer</h2></footer>
</Layout>
