---
import Balls from '@components/balls/Balls.astro'
import Layout from '@layouts/Layout.astro'
import Header from '@components/header/Header.astro'
import { Experiences, Projects } from '@components/index'
---

<Layout title='Porfolio: Luis Fernando'>
  <Balls slot='balls' />
  <Header />
  <Experiences />
  <Projects />
  <!-- 
  <section class='about section hash-nav' id='about'><h2>about</h2></section>
  <section class='skills section'><h2>skills</h2></section>
  <section class='contact section hash-nav' id='contact'>
    <h2>contact</h2>
  </section>
   -->
  <footer><h2>footer</h2></footer>
</Layout>
