@use '@sass/config/variables' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen() {
  header {
    min-height: 60dvh;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    .header-personalInfo,
    .header-additional {
      width: 100%;
    }
    .header-personalInfo {
      align-items: center;
      height: auto;
      h1,
      h3,
      h4 {
        text-align: center;
      }
      h4,
      aside {
        width: 400px;
      }
      aside {
        justify-content: center;
      }
      p {
        width: 60%;
        text-align: center;
      }
    }
    .header-additional {
      &__container {
        display: none;
      }
      height: 20vh;
    }
    .header-me {
      top: initial;
    }
  }
}

@include m.smallScreen() {
  header {
    .header-personalInfo {
      h4,
      aside {
        width: 100%;
      }
      p {
        width: 90%;
      }
    }
  }
}
