@use '@sass/utils/defaults' as defs;
@use '@sass/utils/border' as bor;
@use '@sass/config/variables' as v;
@use '@sass/utils/bg' as *;

$minHeight: 50vh;

.header {
  @include defs.gap-default-items();
  @extend %triangularBG;
  justify-content: center;
  min-height: 50vh;
  &-greeting,
  &-name,
  &-info {
    text-align: center;
  }
  &-greeting,
  &-info {
    color: v.$txt-1;
  }
  &-info {
    width: 50%;
    margin: auto;
  }
  aside {
    margin: auto;
    width: auto;
  }
  &-name {
    text-shadow: 0 0 2px pink;
    font-family: v.$fm2;
    color: v.$colorGr;
    font-size: v.$f-xl;
    font-weight: 900;
    display: block;
    width: 100%;
  }
}
