---
import type { ImageMetadata } from 'astro'

interface Props {
  file: ImageMetadata
}

const { file } = Astro.props
---

<div class='icon'><img src={file.src} loading='lazy' decoding='async' /></div>
