---
import type { ImageMetadata } from 'astro'
import Image from './Image.astro'
import { getName } from './format'

interface Props {
  file: ImageMetadata
}

const { file } = Astro.props
---

<div class='icon'>
  <Image src={file.src} alt={`Icon name - ${getName(file.src)}`} />
</div>
