@use '@sass/config/variables' as v;
@use '@sass/utils/defaults' as defs;

//@include defs.gap-default-items($gap: v.$padding * 2);
.nav {
  a {
    font-size: v.$f-p;
    // color: v.$bg-error;
    padding: v.$padding;
    border-radius: v.$radius;
  }
}
