@use '@sass/config/variables' as v;
@use '@sass/utils/defaults' as def;

.experience-history {
  @include def.gap-default-items($ali: flex-start);
  padding: v.$padding;
  position: relative;
  $sizeBall: 30px;
  border-radius: v.$radius;
  &::after {
    content: attr(data-index);
    width: $sizeBall;
    height: $sizeBall;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(-1.05 * (v.$padding + ($sizeBall / 2)));
    border-radius: 50%;
    background-image: v.$gr-1;
    z-index: 2;
    color: white;
    font-weight: 900;
    display: grid;
    place-content: center;
  }
  span {
    font-size: v.$f-p;
    font-weight: 400;
    color: v.$bg-normal;
  }
  h3 {
    font-size: calc(v.$f-h4 + 1px);
  }
  p {
    color: v.$txt-2;
  }
  a {
    background-color: v.$bg-1;
  }
  &__images {
    display: inline-flex;
    gap: v.$padding;
    div {
      display: flex;
    }
    div img {
      width: v.$icon;
      height: v.$icon;
      object-fit: cover;
      border-radius: 5px;
      &:last-child {
        position: relative;
        left: -10px;
      }
    }
  }
}
