@use '@sass/config/variables' as v;
@use '@sass/utils/defaults' as defs;

.filters {
  width: 100%;
  @include defs.gap-default-items($dir: row);
  flex-wrap: wrap;
  &-action {
    p {
      font-size: v.$f-span;
    }
    &.active {
      background-color: v.$colorGr;
      p {
        color: white;
      }
    }
  }
}
