@use '@sass/config/variables' as v;
@use '@sass/utils/defaults' as defs;

.filters {
  width: 100%;
  @include defs.gap-default-items($dir: row);
  flex-wrap: wrap;
  &-action {
    background-color: v.$bg-2;
    box-shadow: v.$shadow;
    &.active {
      background-color: v.$colorGr;
      h4 {
        color: white;
      }
    }
  }
}
