---
interface Props {
  title: string
}

const { title } = Astro.props

import '@fontsource-variable/tourney'
import '@fontsource-variable/baloo-da-2'
import '@fontsource-variable/lexend'

import './layout.scss'
import './responsiveLayout.scss'

import Nav from '@components/nav/Nav.astro'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.webp' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot name='balls' />
    <main>
      <Nav />
      <slot />
    </main>
    <aside class='chatBot'>
      <script>
        window.addEventListener('mouseover', initLandbot, { once: true })
        window.addEventListener('touchstart', initLandbot, { once: true })
        var myLandbot
        function initLandbot() {
          if (!myLandbot) {
            var s = document.createElement('script')
            s.type = 'text/javascript'
            s.async = true
            s.addEventListener('load', function () {
              var myLandbot = new Landbot.Livechat({
                configUrl:
                  'https://storage.googleapis.com/landbot.site/v3/H-2111888-ISUNPQ9SM6UL6TP2/index.json'
              })
            })
            s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js'
            var x = document.getElementsByTagName('script')[0]
            x.parentNode.insertBefore(s, x)
          }
        }
      </script>
    </aside>
  </body>
</html>
