@use '@sass/config/variables' as v;
@use '@sass/utils/document';
@use '@sass/config/global';

main {
  min-height: 100vh;
  height: auto;
  transition: 0.1s ease-in-out;
  width: 990px;
  margin: auto;
  padding-bottom: v.$padding;
}

main.scroll .section {
  padding-top: v.$padding * 6;
}

.section {
  transition: 0.2s ease-in-out;
  padding: v.$padding;
  width: 100%;
}

.chatBot {
  position: fixed;
  bottom: 0;
  right: calc((100vw - 990px) / 2);
  background-color: v.$bg-2;
  margin: v.$padding;
}
