@use '@sass/config/variables' as v;
@use '@sass/utils/document';
@use '@sass/utils/media' as m;
@use '@sass/config/global';

:root {
  --icon-size: 20px;
  @include m.smallScreen() {
    --icon-size: 15px;
  }
}

.section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-top: v.$padding * 6;
}

.chatBot {
  position: fixed;
  bottom: 0;
  right: calc((100vw - 990px) / 2);
  background-color: v.$bg-2;
  margin: v.$padding;
  @include m.largeScreen() {
    right: 0%;
  }
}
