---
interface Props {
  title: string
}

const { title } = Astro.props

import '@fontsource-variable/tourney'
import '@fontsource-variable/baloo-da-2'
import '@fontsource-variable/lexend'

import './layout.scss'
import './responsiveLayout.scss'

import Nav from '@components/nav/Nav.astro'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.webp' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot name='balls' />
    <main>
      <Nav />
      <slot />
    </main>
    <aside class='chatBot'><h2>chatBot</h2></aside>
  </body>
</html>
