@use '@sass/utils/media' as m;
@use '@sass/config/variables' as v;

:root {
  --icon-size: 20px;
  @include m.smallScreen() {
    --icon-size: 15px;
  }
}

@include m.largeScreen() {
  body {
    padding: 0;
  }
  main {
    margin: 0;
    padding: v.$padding * 1.3;
    width: 100%;
    min-width: 100vw;
    position: relative;
  }
  .chatBot {
    right: v.$padding;
    bottom: v.$padding;
  }
  .sub-title {
    margin: auto;
    text-align: center;
  }
}

@include m.smallScreen() {
  body {
    font-size: 11px;
  }
}
