@use '@sass/config/variables' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen() {
  .experience-history {
    width: 350px;
    border-top: 1.2px solid v.$colorGr;
    box-shadow: v.$shadow;
    &::after {
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
    h3,
    aside h4,
    > p {
      width: 100%;
      text-align: center;
    }
    aside {
      flex-direction: column;
      align-items: center;
    }
    a.btn {
      margin: auto;
    }
  }
}

@include m.smallerScreen() {
  .experience-history {
    width: 100%;
  }
}
