@use '@sass/utils/border' as b;
@use '@sass/config/variables' as v;
@use '@sass/config/index' as i;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  position: sticky;
  top: v.$padding;
  z-index: i.$nav;
  margin-top: v.$padding * 2;
  margin-bottom: v.$padding;
  border-radius: v.$radius;
}
.nav {
  &-items {
    display: flex;
    position: relative;
  }
  &-border {
    width: v.$size-item;
    height: v.$size-item;
    z-index: -1;
    position: absolute;
    top: 0;
    left: calc(v.$size-item * 2);
    @include b.gradientBorder;
    transition: v.$ani;
  }
}
