@use '@sass/config/index' as i;

$backgroundBall: var(--color-ball);

.balls {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: i.$balls;
  overflow: hidden;
  div {
    width: 380px;
    height: 375px;
    background-color: $backgroundBall;
    border-radius: 50%;
    position: absolute;
    opacity: 0.35;
    top: 10%;
    animation: bigToSmall 2s infinite alternate;
    &:first-child {
      top: 25%;
    }
    filter: blur(30px);
    @keyframes bigToSmall {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
  }
  &.LEFT-CENTER {
    div {
      left: 15%;
      transform: translate(-50%, -50%);
      &:first-child {
        left: 10%;
      }
      &:last-child {
        left: 30%;
      }
    }
  }
  &.RIGHT-CENTER {
    div {
      right: 15%;
      transform: translate(50%, -50%);
      &:first-child {
        right: 10%;
      }
      &:last-child {
        right: 25%;
      }
    }
  }
}
